extends layout

block content
  h1= user.name

  form(method='POST' action='')

    div
      if updated === 'changed'
        p You changed the account type.
      else if updated === 'unchanged'
        p The account was not changed.
      
      if imgCount
        p You do not have enough content in your account. Please try again later when you exceed post number greater than 100, and blog number greater than 5
    div.form-group
      p Your role is - 
        input#txt.form-control(type='text', value=(undefined===credential ? '' : credential) name='role' readonly style='border: none; display: inline; font-family: inherit; font-size: inherit; width: auto; white-space: pre; padding: 0; margin: 0; background: none; color: inherit;')

    
    button.btn.btn-primary(type='submit') Become #{undefined===credential ? '' : credential === "admin" ? "Basic" : "Admin"}


  script.
    $(function() {
      $('#hide').text($('#txt').val());
      $('#txt').width($('#hide').width());
    }).on('input', function() {
      $('#hide').text($('#txt').val());
      $('#txt').width($('#hide').width());
    });