extends layout

block content
    h1= title

    ul
    each list in lists
        li
            a(href=list.url) #{list.name}
            |  (#{list.user.name})
    
    else
        li There are no saved lists.